body {
  margin: 0;
  padding: 0;
  font-family: "Rajdhani", sans-serif;
  color: white;
  overflow: hidden;
}

html, body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;               
}


/* SECTION */
.section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}


.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
  z-index: -1;
}


.content {
  max-width: 650px;
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 55px;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.tagline {
  font-size: 20px;
  margin-bottom: 25px;
  color: #e8e8e8;
}

.description {
  font-size: 17px;
  margin-bottom: 35px;
  line-height: 1.7;
}


.specs-box {
  background: rgba(255,255,255,0.08);
  padding: 20px;
  border-radius: 12px;
  backdrop-filter: blur(4px);
}

.specs-box h2 {
  font-family: "Orbitron", sans-serif;
  margin-bottom: 15px;
  font-size: 26px;
}

.specs-box p {
  margin: 6px 0;
  font-size: 16px;
}
